.body1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.calendar_container {
  display: flex;
  background-color: #44d0d4;
  height: 92vh;
  width: 100%;
}

.current_day {
  background-color: var(--main-bg-color-5);
  background-color: #527799;
  background: -webkit-linear-gradient(
    to right,
    var(--main-bg-color-4),
    var(--main-bg-color-2)
  );
  background: linear-gradient(
    to right,
    var(--main-bg-color-4),
    var(--main-bg-color-2)
  );
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  border: black solid 1px;
}

.current_day p {
  margin-top: 2vh;
  font-size: 3vw;
  color: #fff;
}

.current_day span {
  font-size: 10vw;
  color: #fff;
}

.calendar2 {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.currentDayEvents {
  flex: 2;
  overflow-y: scroll;
  border-top: black solid 1px;
  background-color: var(--main-bg-color-1);
  gap: 2vh;
  /* background: -webkit-linear-gradient(
    to right,
    var(--main-bg-color-1),
    var(--main-bg-color-3)
  );
  background: linear-gradient(
    to right,
    var(--main-bg-color-1),
    var(--main-bg-color-3)
  ); */
}

.calendar_nav {
  width: 100%;
  height: 10vh;
  min-height: 50px;
  background-color: var(--main-bg-color-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: black solid 1px;
  border-left: none;
}

.calendar_nav .icons {
  display: flex;
}

.calendar_nav .icons span:hover {
  background: #f2f2f2;
  color: var(--accent-color);
}

.calendar_nav .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: 30px;
}

.calendar {
  background-color: var(--main-bg-color-1);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-right: #000000 solid 1px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  justify-content: center;
  color: #000000;
  padding: 0;
  margin: 0;
}

.calendar li {
  width: calc(100% / 7);
  text-align: center;
  justify-content: center;
  align-self: center;
  /* border: black solid 1px; */
}

.weeks {
  flex: 1;
}

.days {
  flex: 6;
}

.weeks li {
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  cursor: default;
}

.currentMonth {
  margin-left: 20px;
  font-size: large;
}

.days li {
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 3vw;
  z-index: 1;
  cursor: pointer;
  position: relative;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.days li.inactive {
  color: #808080;
}
.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 4vw;
  width: 4vw;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  border: #000000 solid 1px;
  background: var(--accent-color);
}
.days li:not(.active):hover::before {
  background: var(--main-bg-color-1);
}

.event {
  width: 100%;
  background-color: #fff;

  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
}

.event > div:first-child span {
  margin-right: auto;
  font-size: clamp(1rem, 2vw, 2.5rem);
  align-self: center;
}

.eventTitle {
  font-size: 3vw;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-bottom: 2vh;
}

.eventDiscription {
  color: #000000;
  margin: 5px;
  margin-left: 10px;
  margin-right: auto;
  font-weight: bold;
}

.eventPhotos {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.photo-container {
  position: relative;
  /* Maintain a fixed height for 16:9 container */
  overflow: hidden; /* Ensures cropping when the image overflows */
}

.eventPhoto {
  position: relative;
  /* width: 100%; 
  height: 40vh; */
  max-width: 100%;
  max-height: 55vh;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  /* border-radius: 5px; */
  object-fit: cover; /* Ensures that the image covers the container */
}

.view-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* Initially hidden, show on hover */
}

.photo-container:hover .view-more {
  display: block; /* Show the button on hover */
}

.user_reaction {
  margin-left: 2vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  gap: 2vw;
}

ion-icon {
  font-size: 3vw;
}

.user_reaction > div {
  /* background-color: #e5ebee;
  border-radius: 15px; */
  width: 8vw;
  height: 6.5vh;
  max-height: 6.5vh;
  display: flex;
  gap: 1vw;
}

.user_reaction span {
  justify-content: center;
  align-self: center;
  font-size: 3vw;
}

.user_reaction > div div {
  justify-content: center;
  align-self: center;
}

.user_reaction > div div {
  justify-content: center;
  align-self: center;
}

.attend {
  max-width: 30px;
  max-height: 30px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
}

.attend:hover {
  cursor: pointer;
}
