.popup {
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popContent {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
  width: 30vw;
  min-width: 600px;
  min-height: 500px;
  font-family: "Inter", sans-serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(82, 119, 153, 1);
  padding: 20px;
  border-radius: 15px;
}

#logoForm {
  max-height: 100px;
  max-width: 100px;
}

#logButt {
  margin-top: 5px;
  height: 3.5vh;
  min-width: 200px;
  color: white;
  background-color: #4c6984;
  border: none;
  cursor: pointer;
}

#logButt:hover {
  color: rgb(56, 49, 77);
  background-color: #aec0d1;
}

#logForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.logInput {
  min-height: 3.5vh;
  min-width: 200px;
}

#signButt {
  text-decoration: none;
  border: none;
  padding: 5px, 5px;
  height: 3vh;
  width: 8vw;
  min-width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

#signButt:hover {
  background-color: rgb(167, 200, 221);
}
