.popup {
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.popContent {
  align-items: center;
  width: 30vw;
  font-family: "Inter", sans-serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(82, 119, 153, 1);
  padding: 20px;
  min-width: 600px;
}

#logoForm {
  max-height: 100px;
  max-width: 100px;
}

#logButton {
  border: none;
  all: unset; /* Resets all properties */
  display: block; /* Makes the button a block-level element */
  width: 100%; /* Makes the button fill the width of its parent */
  height: 100%; /* Makes the button fill the height of its parent */
  cursor: pointer; /* Adds a pointer cursor on hover */
  background-color: transparent; /* Removes background color */
  color: inherit; /* Inherits text color from parent */
  text-align: center; /* Centers text inside the button */
  padding: 0; /* Removes default padding */
  border: none; /* Removes default border */
  font: inherit; /* Inherits font styles from parent */
}
