nav {
  overflow: hidden;
  background-color: var(--main-bg-color-5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  min-height: 8vh;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 8vh;
  min-height: 8vh;
  display: flex; /* Ensure flexbox is used for centering */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

.searchbar {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2vh;
  text-align: left;
  outline: none;
  border: none;
  max-width: 150px;
  height: 5.5vh;
  width: 80%;
  align-self: center;
}

.searchbar :last-child {
  width: 100%;
}

nav a,
nav input {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav ul:last-child li:not(:nth-last-child(2)):hover {
  background-color: #5e9abd;
}

nav ul:first-child li:hover {
  background-color: #5e9abd;
}

nav li:first-child {
  margin-right: auto;
}

#logo {
  height: 9vh;
  min-height: 70px;
  max-height: 80px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menuButton {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menuButton {
    display: block;
  }
  .sidebar {
    display: block; /* Ensure it's displayed on small screens */
  }
}

@media (min-width: 801px) {
  .sidebar {
    display: none; /* Ensure it's hidden on large screens */
  }
}

.user_photo {
  width: 50px; /* Set a fixed width for consistency */
  height: 50px; /* Set equal height */
  border-radius: 50%; /* Ensure it's a perfect circle */
  overflow: hidden; /* Ensure no content overflows the circular shape */
  cursor: pointer;
}

.user_photo img {
  width: 80%;
  max-width: 50px; /* Make the image fill the parent container */
  height: 80%; /* Ensure the image maintains its size */
  object-fit: cover; /* Ensures the image is cropped to cover the entire area without distortion */
  border-radius: 50%; /* Apply the circular shape to the image itself */
}

/* profile image related */
/* Style for the profile container and image */
.profile_container {
  height: 100%;
  width: 100%;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  display: inline-block;
}

/* Style for the dropdown menu */

.dropdown_menu {
  display: none; /* Hidden by default */
  position: fixed;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  width: 15vw;
  max-width: 15vw;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  list-style-type: none;
  margin-top: 0.5vh;
}

.dropdown_menu li {
  width: 100%;
  height: 100%;
}

.dropdown_menu li a {
  text-decoration: none;
  color: #333;
}

.dropdown_menu li:hover {
  background-color: #f1f1f1;
}

.dropdown_menu button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  outline: none;
  color: inherit; /* Retain the text color from the parent element */
  font: inherit; /* Inherit the font family from the parent */
}

.dropdown_menu form {
  width: 100%;
  height: 100%;
}
