* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

:root {
  --main-bg-color-1: #7aadbc;
  --main-bg-color-2: #4a8798;
  --main-bg-color-3: #2f7183;
  --main-bg-color-4: #1b5d70;
  --main-bg-color-5: #0a4859;
  /* --main-bg-color-1: #90e0ef;
  --main-bg-color-2: #48cae4;
  --main-bg-color-3: #00b4d8;
  --main-bg-color-4: #0096c7;
  --main-bg-color-5: #0077b6; */

  --main-grey-shade: #ffffff;

  --accent-color: #b84064;
}
